*
{
    font-family: 'Work Sans', sans-serif;
}

html,
body
{
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: #141311;
}

.content
{
    padding-top: 3.5vh;

    transition: all .2s;
    word-wrap: break-word;

    color: white;
}

.content
{
    padding: 2vw;
}

.videolist
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video-item
{
    align-self: auto;
    flex: 1 1 40%;

    max-width: calc(50% - 12px);
    margin: 6px;

    transition: all .5s;

    border-radius: 3.5px;
    -webkit-box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
       -moz-box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
            box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
}

.video-item .thumbnail
{
    display: block;

    width: 100%;
    height: auto;

    transition: all .5s;

    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
}

.video-item .info
{
    padding: 10px;
    padding-top: 0;
}

.video-item .info .title
{
    font-size: 20px;

    margin-top: 10px;
    margin-bottom: 0;
}

.video-item .info .description
{
    font-size: 15px;

    margin-bottom: 5px;
}

.video-item .info .date
{
    font-size: 13px;

    margin-top: 0;
}

.titlebar-filter
{
    position: fixed;
    top: 0;

    width: 100vw;
    height: 5vh;

    -webkit-box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
       -moz-box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
            box-shadow: 0 0 14px -2px rgba(0, 0, 0, .75);
}

.titlebar
{
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    width: calc(100vw - 130px);
    height: 5vh;
    padding-left: 10px;

    -webkit-user-select: none;
            user-select: none;

    color: white;

    -webkit-app-region: drag;
}

.titlebar-button *
{
    font-size: 20px !important;
}

.titlebar-button
{
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 5vh;

    cursor: pointer;
    transition: all .2s;

    color: white;
}

.titlebar-button:hover
{
    background-color: rgba(255, 255, 255, .075);
}

.close
{
    right: 0;

    width: 60px;
}

.minimize
{
    right: 60px;

    width: 60px;
}

::-webkit-scrollbar
{
    display: none;
}
